*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation code start */

nav{
    display: flex;
    background-color:#fff;
    height: 80px;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
    padding: 0px 50px 0px 70px;
    
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    margin: 0 10px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    color: black;
    margin-right: 20px;
    
}
.nav-h2{
    margin-right: 70px;
    
}
.checkbox{
    
    display: none;
}
.menu-btn{
    
    
    display:none ;
}
.logo{
    
    font-size:30px ;
    color: brown;
}
.nav-span{
    color:orangered;
}
.paragraph-side{
    padding-top: 20px;
    font-size: 20px;
}

.sidebar{
    display: flex;
}
.sidebar img{
    margin-top: 20px;
    margin-right: 20px;
}
.sidebar i{
    color: brown;
    margin-right: 10px;
}

nav ul li:first-child a{
    color: orangered;
}



/* navigation mobile media quary start */

@media only screen and (max-width:940px) {
    nav ul{
        position: fixed;
        background-color:#17202A;
        top: 80px;
        left: -100%;
        padding-top: 20px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: all o.5s ease;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";

    }
    .menu-btn{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    .paragraph-side{
        font-size: 10px;
    }
    .sidebar img{
        font-size: 10px;
    }
}

/* navigation mediya qury end */

/* header secton code start */

.header{
    background-image: url('img/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header-text{
    text-align: center;
    color: white;
}
.header-text h2{
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.travel-list{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.452);
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 50px;
    border-radius: 10px;

}
.travel-list1{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    font-size: 20px;
}
.travel{
    border: 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
.travel-list4 a{
    text-decoration: none;
  background-color:orangered;
  font-size: 30px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  
}


/* mediya quary code start header */

@media screen and (max-width:576px) {

    .header{
        height: 580px;
    }

    .header-text h2{
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .travel-list{
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        
        height: 300px;
    }
    .travel-list1{
        margin-top: 0
        text-align:;
        margin-left: 60px;
        width: 150px;
        margin-bottom: 10px;
        
    }
    .header-text{
        padding: 10px;
    }
    .travel{
        border: 0;
        font-size: 15px;
        padding: 5px;
        border-radius: 5px;
        margin-top: 5px;
        padding-top: 5px;
    }
    .travel-list4 a{
        font-size: 25px;
        margin-left: 60px;
        margin-bottom: 15px;
        width: 250px;
        height: 10px;
        margin-top: 10px;
    }
    .travel{
        margin-left: 60px;
        width: 150px;
        height: 40px;
        text-align: ;
    }
    
    
}

/* mediya quary header section code end */


/* main section code start */

/* section-1 code start */

.section-1{
    display: flex;
    align-items: center;
    margin: 100px;
    gap: 10px;
}

.tour-image img{
    width: 500px;
    height: 400px;
}
.section-1-button{
    margin-top: 20px;
    background-color: orangered;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}
.tour-paragraph{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tour-text h2{
    font-size: 40px;
}

/* section-code end */

/* section-1 mediya quary code start */

@media screen and (max-width:576px) {
    .section-1{
       flex-direction: column;
       margin: 40px;
    }

    .section-1-button{
        font-size: 20px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .tour-image img{
        width: 220px;
        height: 250px;
    }
    
}

/* section-1 mediya quary end */

/* section-2 code start */

.section-2-text{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:150px ;
    margin-right: 150px;
}
.section-2-text h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.section-2-image1{
    display: flex;
    gap: 10px;
    margin-left: 150px;
    margin-right: 100px;
    position: relative;
}

.img-1 img{
    width: 500px;
    height: 200px;
    position: relative;
}

.img-2 img{
    width: 500px;
    height: 200px;
}

.section-2-image2{
    display: flex;
    gap: 10px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 10px;
}

.img-3 img{
    width: 300px;
    height: 200px;
}
.img-4 img{
    width: 400px;
    height: 200px;
}
.img-5 img{
    width:290px ;
    height: 200px;
}

.section-image-3{
    display: flex;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 10px;
    gap: 10px;
}

.img-6 img{
    width: 400px;
    height: 200px;
}
.img-7 img{
    width: 600px;
    height: 200px;
}

/* section-2 code end */

/* mediya quary code start */

@media screen and (max-width:576px){
    .section-2-image1,.section-2-image2,.section-image-3{
        flex-direction: column;
        margin: 40px;
        gap: 5px;
    }
    .img-1 img,.img-2 img,.img-3 img,.img-4 img,.img-5 img,.img-6 img,.img-7 img{
        width: 230px;
        height: 250px;
        margin-top: 5px;
    }
    .section-2-text{
        margin: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    

    
}

/* mediya quary code end */


/* section-3 code start */

.choose-title{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.choose-title h2{
   font-size: 30px;
   margin-bottom: 20px;
}


.card{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    gap: 10px;
}

.card-1{
    background-color: antiquewhite;
    width: 500px;
    height: 150;
    padding: 40px;
    border-radius: 10px;
}
.card-2{
    background-color: lightslategray;
    width: 500px;
    height: 250;
    padding: 40px;
    border-radius: 10px;
}
.card-3{
    background-color: limegreen;
    width: 500px;
    margin-top: 10px;
    margin-left: 450px;
    padding: 40px;
    border-radius: 10px;
}

.card-1 i{
    font-size: 50px;
    color: gold;
    margin-bottom: 10px;
}
.card-2 i{
    font-size: 50px;
    color: brown;
    margin-bottom: 10px;
}
.card-3 i{
    font-size: 50px;
    color: chocolate;
    margin-bottom: 10px;
}
.card-1 h2,.card-2 h2,.card-3 h2{
    margin-bottom: 15px;
}

/* section-3 code end */

/* mediya quary code start */

@media screen and (max-width:576px) {
    .choose-title{
        margin: 10px;
        margin-bottom: 10px;
    }
    .card{
        flex-direction: column;
        margin: 40px;
        gap: 5px;
    }
    .card-1,.card-2{
        width: 230px;
        height: 270px;
        margin-top: 25px;
    }
    .card-3{
        margin-left: 38px;
        margin-right: 38px;
        width: 230px;
        height: 270px;
        margin-top: 5px;
    }
    
}



