*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation code start */

nav{
    display: flex;
    background-color: antiquewhite;
    height: 80px;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
    padding: 0px 50px 0px 70px;
    
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    margin: 0 10px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    color: black;
    margin-right: 20px;
    
}
.nav-h2{
    margin-right: 70px;
    
}
.checkbox{
    
    display: none;
}
.menu-btn{
    
    
    display:none ;
}
.logo{
    
    font-size:30px ;
    color: brown;
}
.nav-span{
    color:orangered;
}
.sidebar a{
    text-decoration: none;
    font-size: 40px;
    color: black;
}
.sidebar i{
    color: brown;
    margin-right: 10px;
}

nav ul li:first-child a{
    color: orangered;
}

/* navigation mobile media quary start */

@media only screen and (max-width:940px) {
    nav ul{
        position: fixed;
        background-color:#17202A;
        top: 80px;
        left: -100%;
        padding-top: 20px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: all o.5s ease;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";

    }
    .menu-btn{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    .sidebar a{
        font-size: 15px;
    }
}

/* navigation mediya qury end */

/* header secton code start */

.header{
    background-image: url('img/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header-text{
    text-align: center;
    color: white;
}
.header-text h2{
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
}